#add-task{
    display: flex;    
    gap: 0.3rem;
    margin: 1rem 0;

    input{
        flex-grow: 1;
    }
}

.tasks-list{
    display: grid;
    gap: 0.3rem;
    margin: 0;
    margin-bottom: 0.3rem;


    li{
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        border-bottom: 1px solid #dfdfe1;
        padding: 0.5rem 0;
        margin: 0;
    }
}

.task{
    flex-grow: 1;
    margin-top: -0.1rem;
}

.task-rename-field{
    flex-grow: 1;
}


// Style for the custom checkbox
.tasks-list input[type="checkbox"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: 1.4rem;
    min-width: 1.4rem;
    height: 1.4rem;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    border: 0;
    box-shadow: none;

    // Style for the custom checkbox when checked
    &:checked {
        background-image: url('../img/check.svg');
        background-size: cover;

        // Style for the checkmark when checkbox is checked
        &::before {
            display: none;
        }
    }

    // Style for the custom checkbox when unchecked
    &:not(:checked) {
        background-color: transparent;
        background-image: url('../img/uncheck.svg');
        background-size: cover;
    }
}