#add-task{
    display: flex;    
    gap: 0.3rem;

    input{
        flex-grow: 1;
    }
}

.tasks-list{
    display: grid;
    gap: 0.3rem;


    li{
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-bottom: 1px solid #c3c4c7;
        padding-bottom: 0.3rem;
    }
}

.task, 
.task-rename-field{
    flex-grow: 1;
}


// Style for the custom checkbox
.tasks-list input[type="checkbox"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #ccc;
    border-radius: 1rem;
    outline: none;
    cursor: pointer;

    // Style for the checkmark inside the checkbox
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        display: none;
    }

    // Style for the custom checkbox when checked
    &:checked {
        background-color: #55b555;
        border-color: #55b555;

        // Style for the checkmark when checkbox is checked
        &::before {
            display: block;
        }
    }

    // Style for the custom checkbox when unchecked
    &:not(:checked) {
        background-color: transparent;
        border-color: #ccc;
    }
}

// Style for the task rename field
.tasks-list .task-rename-field {
    display: none;
}
