#add-task{
    display: flex;    
    gap: 0.3rem;
    margin: 1rem 0;

    input{
        flex-grow: 1;
    }
}

.tasks-list{
    display: grid;
    gap: 0.3rem;
    margin: 0;
    margin-bottom: 0.3rem;


    li{
        display: flex;
        align-items: flex-start;
        gap: 0.5rem;
        background: #f4f3f3;
        border-radius: 0.3rem;
        padding: 0.5rem;
        margin: 0;
        position: relative;

        button{
            background-color: transparent;
            border: 1px solid #c7c7c7;
            outline: 0;
            padding: 0.3rem 0.5rem;
            border-radius: 0.2rem;
            cursor: pointer;

            &:hover{
                background-color: white;
            }
        }

        &:hover  .actions{
            display: flex;
        }
    }

    .actions{
        display: none;
        gap: 0.5rem;
        position: absolute;
        right: .5rem;
        top: .5rem;
    }
}

.task-edit{
    flex-grow: 1;
}

.task{
    flex-grow: 1;
    margin-top: 0.1rem;

    &:hover{
        cursor: grab;
    }
}

.task-rename-field{
    flex-grow: 1;
}

.delete:hover{
    background: #ffebea !important;
    border: 1px solid #73062b !important;
    color: #73062b !important;
}


// Style for the custom checkbox
.tasks-list input[type="checkbox"] {
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    width: 1.4rem;
    min-width: 1.4rem;
    height: 1.4rem;
    border-radius: 0;
    outline: none;
    cursor: pointer;
    border: 0;
    box-shadow: none;
    margin: 0rem;

    // Style for the custom checkbox when checked
    &:checked {
        background-image: url('../img/check.svg');
        background-color: transparent;
        background-size: cover;

        // Style for the checkmark when checkbox is checked
        &::before {
            display: none;
        }
    }

    // Style for the custom checkbox when unchecked
    &:not(:checked) {
        background-color: transparent;
        background-image: url('../img/uncheck.svg');
        background-size: cover;
    }
}

#export-import{
    border-top: 1px solid rgb(227, 227, 227);
    padding-top: 1rem;
    display: flex;
    gap: 0.3rem;
    justify-content: flex-end;
    margin: 2rem 0 0 0;
}

#import-todo-popup--bg{
    // display: none;
    position: fixed;
    z-index: 10;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    padding-top: 100px;
}

#import-todo-popup{
    background-color: white;
    display: block;
    width: 600px;
    height: fit-content;
    padding: 2rem;

    .button{
        margin-left: auto;
        display: block;
    }
}

#import-todo-drop{
    // border: 1px solid blue;
    width: 100%;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.dropzone.dz-clickable {
    width: 100%;
}

.dropzone.dz-drag-hover{
    border: 2px dashed #2271b1 !important;
    border-radius: 4px;
}